:root {
    --body-color: #F7F7F7;
    --light-color: #F6F6F6;
    --dark-color: #1E1E1E;
    --main-color: #2E59AB;
    --accent-color: #96C538;
    --number-heading-size: 3.646vw;
    --heading-size: 2.344vw;
    --heading-line-height: 2.857vw;
    --secondheading-size: 1.667vw;
    --secondheading-line-height: 2.032vw;
    --middleheading-size: 1.458vw;
    --middleheading-line-height: 1.778vw;
    --subheading-size: 1.302vw;
    --subheading-line-height: 1.588vw;
    --text-size: 1.094vw;
    --text-line-height: 1.354vw;
}

html,
body {
    height: 100%;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: var(--body-color);
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

*,
*::before,
*::after {
    font-family: "Montserrat", sans-serif;
    font-size: var(--text-size);
    line-height: var(--text-line-height);
    font-weight: 400;
    color: var(--dark-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

a:hover {
    opacity: 1;
}

#logo,
#dcready,
a[id="link-active"],
a[id="link-on-button"] {
    opacity: 1;
}

a[id="link-active"]::after {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    height: 0.15vw;
    background-color: var(--accent-color);
    border-radius: 0.521vw;
}

img {
    width: 100%;
}

/*

    1. HEADER

*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 5.208vw;
    padding: 0 6.771vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

#logo {
    width: 6.094vw;
    height: 3.125vw;
}

.header__nav {
    height: 100%;
    position: relative;
    left: -4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav-link {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    color: var(--light-color);
}

.header__nav-link:not(:last-child) {
    margin-right: 3.490vw;
}

#header-nav-link-dropdown {
    cursor: default;
}

#header-nav-link-dropdown:has(a[id="link-active"]) {
    opacity: 1;
}

#header-nav-link-dropdown>a {
    font-weight: 600;
    color: var(--light-color);
}

#header-nav-link-dropdown:hover {
    opacity: 1;
}

#header-nav-link-dropdown::after {
    content: "";
    position: absolute;
    top: 30%;
    right: -1.35vw;
    transform: rotate(45deg);
    border: solid var(--accent-color);
    border-width: 0 0.208vw 0.208vw 0;
    display: inline-block;
    padding: 0.313vw;
    border-radius: 0.104vw;
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
}

#header-nav-link-dropdown:hover::after {
    transform: rotate(-135deg) translateY(-30%) translateX(-30%);
}

#header-nav-link-dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
    pointer-events: none;
    text-align: center;
    border-radius: 0 0.521vw 0.521vw 0.521vw;
}

#header-nav-link-dropdown-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.9;
    background: var(--light-color);
    border-radius: 0.521vw;
    filter: drop-shadow(0vw 5.208vw 4.167vw rgba(0, 0, 0, 0.07)) drop-shadow(0vw 2.176vw 1.741vw rgba(0, 0, 0, 0.0503198)) drop-shadow(0vw 1.163vw 0.931vw rgba(0, 0, 0, 0.0417275)) drop-shadow(0vw 0.652vw 0.522vw rgba(0, 0, 0, 0.035)) drop-shadow(0vw 0.346vw 0.277vw rgba(0, 0, 0, 0.0282725)) drop-shadow(0vw 0.144vw 0.115vw rgba(0, 0, 0, 0.0196802));
    -webkit-filter: drop-shadow(0vw 5.208vw 4.167vw rgba(0, 0, 0, 0.07)) drop-shadow(0vw 2.176vw 1.741vw rgba(0, 0, 0, 0.0503198)) drop-shadow(0vw 1.163vw 0.931vw rgba(0, 0, 0, 0.0417275)) drop-shadow(0vw 0.652vw 0.522vw rgba(0, 0, 0, 0.035)) drop-shadow(0vw 0.346vw 0.277vw rgba(0, 0, 0, 0.0282725)) drop-shadow(0vw 0.144vw 0.115vw rgba(0, 0, 0, 0.0196802));
}

#header-nav-link-dropdown-menu>a {
    position: relative;
    width: 100%;
    font-weight: 600;
    padding: 1vw;
    margin: 0.1vw 0;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#header-nav-link-dropdown-menu>a[id="dropdown-link-active"] {
    background-color: var(--light-color);
    pointer-events: none;
    opacity: 1;
}

#header-nav-link-dropdown-menu>a:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
}

#header-nav-link-dropdown-menu>a:first-child {
    margin: 0;
    border-radius: 0.521vw 0.521vw 0 0;
}

#header-nav-link-dropdown-menu>a:first-child::after {
    content: "";
    position: absolute;
    bottom: -0.1vw;
    left: 0;
    width: 100%;
    height: 0.1vw;
    opacity: 0.25;
    background-color: var(--dark-color);
}

#header-nav-link-dropdown-menu>a:last-child {
    margin: 0;
    border-radius: 0 0 0.521vw 0.521vw;
}

#header-nav-link-dropdown-menu>a:last-child::after {
    content: "";
    position: absolute;
    top: -0.1vw;
    left: 0;
    width: 100%;
    height: 0.1vw;
    opacity: 0.25;
    background-color: var(--dark-color);
}

#header-nav-link-dropdown:hover #header-nav-link-dropdown-menu {
    top: 100%;
    opacity: 1;
    pointer-events: all;
}

#header-nav-link-dropdown:hover a[id="link-active"]::after {
    opacity: 0;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dcready {
    width: 9.115vw;
    height: 3.125vw;
}

.header__button-item {
    cursor: pointer;
    border: none;
    width: 10.417vw;
    height: 2.604vw;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--accent-color);
    border-radius: 0.521vw;
    margin-left: 2.240vw;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.header__button-item:hover {
    color: var(--accent-color);
    background-color: var(--light-color);
}

/*

    2. HOME INTRO

*/

.homeIntro {
    width: 100%;
    height: 31.250vw;
    padding: 0 6.771vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url("https://res.cloudinary.com/dcready/image/upload/v1675374721/vector/bg.png") no-repeat;
    background-size: cover;
}

.homeIntro__content {
    text-align: left;
}

.homeIntro__content-heading {
    color: var(--light-color);
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    font-weight: 700;
    margin-bottom: 0.677vw;
}

.homeIntro__content-middleheading {
    color: var(--light-color);
    font-size: var(--middleheading-size);
    line-height: var(--middleheading-line-height);
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 2.083vw;
}

.homeIntro__content-button {
    cursor: pointer;
    border: none;
    width: 10.417vw;
    height: 2.604vw;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--main-color);
    border-radius: 0.521vw;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.homeIntro__content-button:hover {
    color: var(--main-color);
    background-color: var(--light-color);
}

/*

    3. SERVICES

*/

.services {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 3.646vw 6.771vw 6.302vw 6.771vw;
}

#services-ring-left {
    position: absolute;
    top: -12%;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

#services-ring-right {
    position: absolute;
    top: -25%;
    right: 0;
    z-index: -1;
    opacity: 0.5;
}

.services__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.services__content-secondheading {
    font-size: var(--secondheading-size);
    line-height: var(--secondheading-line-height);
    font-weight: 700;
    margin-bottom: 0.781vw;
}

.services__content-middleheading {
    font-size: var(--middleheading-size);
    line-height: var(--middleheading-line-height);
    font-weight: 600;
    opacity: 0.7;
}

.services__content-link {
    position: relative;
    font-size: var(--middleheading-size);
    line-height: var(--middleheading-line-height);
    font-weight: 600;
    color: var(--main-color);
    margin-right: 1.5vw;
}

.services__content-link::after {
    content: "";
    position: absolute;
    top: 30%;
    right: -1.35vw;
    transform: rotate(-45deg);
    border: solid var(--accent-color);
    border-width: 0 0.208vw 0.208vw 0;
    display: inline-block;
    padding: 0.4vw;
    border-radius: 0.104vw;
    pointer-events: none;
}

.servicesCards {
    margin-top: 2.396vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicesCards__item {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 19.010vw;
    height: 16.927vw;
    background-color: #FFFFFF;
    border-radius: 0.521vw;
    backdrop-filter: blur(0.15vw);
    -webkit-backdrop-filter: blur(0.15vw);
    transition: background-color 0.2s ease-in-out;
}

.servicesCards__item:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.servicesCards__item-image {
    margin-bottom: 1.719vw;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesCards__item-image>img {
    width: 5.208vw;
    height: 5.208vw;
    object-fit: cover;
    border-radius: 50%;
}

.servicesCards__item-subheading {
    font-size: var(--subheading-size);
    line-height: var(--subheading-line-height);
    font-weight: 700;
    margin-bottom: 0.677vw;
}

.servicesCards__item-text {
    font-weight: 600;
    opacity: 0.7;
}

/*

    4. PARTNERS

*/

.partners {
    width: 100%;
    padding: 0 6.771vw 9.427vw 6.771vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__box {
    width: 100%;
    height: 16.823vw;
    background-color: #FFFFFF;
    border-radius: 0.521vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.771vw 3.385vw 1.406vw 2.396vw;
    box-shadow: 0vw 5.208vw 4.167vw rgba(0, 0, 0, 0.07), 0vw 2.176vw 1.741vw rgba(0, 0, 0, 0.0503198), 0vw 1.163vw 0.931vw rgba(0, 0, 0, 0.0417275), 0vw 0.652vw 0.522vw rgba(0, 0, 0, 0.035), 0vw 0.346vw 0.277vw rgba(0, 0, 0, 0.0282725), 0vw 0.144vw 0.115vw rgba(0, 0, 0, 0.0196802);
}

.partners__box #partners-box-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.partners__box-secondheading {
    font-size: var(--secondheading-size);
    line-height: var(--secondheading-line-height);
    font-weight: 700;
    margin-bottom: 1.094vw;
}

.partners__box-middleheading {
    font-size: var(--middleheading-size);
    line-height: var(--middleheading-line-height);
    font-weight: 600;
    opacity: 0.7;
}

.partners__box #partners-box-images {
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    column-gap: 3.229vw;
    row-gap: 1.354vw;
}

.partners__box-image {
    width: 3.646vw;
    height: 3.646vw;
    object-fit: cover;
    border-radius: 1.302vw;
}

/*

    5. REVIEWS

*/

.reviews {
    padding: 0 5.625vw 7.448vw 5.625vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviews__content {
    text-align: center;
    margin-bottom: 2.708vw;
}

.reviews__content-secondheading {
    font-size: var(--secondheading-size);
    line-height: var(--secondheading-line-height);
    font-weight: 700;
    margin-bottom: 0.781vw;
}

.reviews__content-middleheading {
    font-size: var(--middleheading-size);
    line-height: var(--middleheading-line-height);
    font-weight: 600;
    opacity: 0.7;
}

.reviewsCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    column-gap: 1.563vw;
    row-gap: 2.604vw;
}

.reviewsCards__item {
    width: 28.542vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#reviewsCards-item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625vw;
}

#reviewsCards-item-top-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.reviewsCards__item-image {
    width: 3.021vw;
    height: 3.021vw;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1.146vw;
}

.reviewsCards__item-subheading {
    font-size: var(--subheading-size);
    line-height: var(--subheading-line-height);
    font-weight: 700;
    margin-bottom: 0.104vw;
}

#reviewsCards-item-top-info>div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.reviewsCards__item-ratingText {
    font-weight: 600;
    color: #F4C622;
    margin-right: 0.313vw;
}

#reviewsCards-item-top-info>div>#reviews-rating-star:not(:last-child) {
    margin-right: 0.313vw;
}

/* #reviewsCards-item-top-info > div > #reviews-rating-star-disabled {
    fill: transparent;
} */

.reviewsCards__item-text {
    font-weight: 600;
    opacity: 0.7;
}

/*

    6. CONTACT WITH US

*/

.contactWithUs {
    position: relative;
    width: 100%;
    height: 20.833vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-color);
}

#contactWithUs-ring-left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

#contactWithUs-ring-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.contactWithUs__content {
    text-align: center;
}

.contactWithUs__content-heading {
    color: var(--light-color);
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    font-weight: 700;
    margin-bottom: 0.729vw;
}

.contactWithUs__content-middleheading {
    color: var(--light-color);
    font-size: var(--middleheading-size);
    line-height: var(--middleheading-line-height);
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 1.302vw;
}

.contactWithUs__content-button {
    cursor: pointer;
    border: none;
    width: 10.417vw;
    height: 2.604vw;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--accent-color);
    border-radius: 0.521vw;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.contactWithUs__content-button:hover {
    color: var(--accent-color);
    background-color: var(--light-color);
}

/*

    7. ABOUT INTRO

*/

.aboutIntro {
    width: 100%;
    height: 31.250vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://res.cloudinary.com/dcready/image/upload/v1675374721/vector/bg.png") no-repeat;
    background-size: cover;
}

.aboutIntro__content {
    text-align: center;
}

.aboutIntro__content-heading {
    color: var(--light-color);
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    font-weight: 700;
    margin-bottom: 0.677vw;
}

.aboutIntro__content-middleheading {
    color: var(--light-color);
    font-size: var(--middleheading-size);
    line-height: var(--middleheading-line-height);
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 2.083vw;
}

.aboutIntro__content-button {
    cursor: pointer;
    border: none;
    width: 10.417vw;
    height: 2.604vw;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--main-color);
    border-radius: 0.521vw;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.aboutIntro__content-button:hover {
    color: var(--main-color);
    background-color: var(--light-color);
}

/*

    8. NUMBERS CARDS

*/

.numbersCards {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.813vw 6.771vw 7.135vw 6.771vw;
}

#numbersCards-ring-left {
    position: absolute;
    top: -18%;
    left: 0;
    z-index: -1;
}

#numbersCards-ring-right {
    position: absolute;
    top: -31%;
    right: 0;
    z-index: -1;
}

.numbersCards__item {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 19.010vw;
    height: 16.927vw;
    background-color: #FFFFFF;
    border-radius: 0.521vw;
    backdrop-filter: blur(0.15vw);
    -webkit-backdrop-filter: blur(0.15vw);
    transition: background-color 0.2s ease-in-out;
}

.numbersCards__item:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.numbersCards__item-number {
    font-size: var(--number-heading-size);
    color: var(--accent-color);
    font-weight: 700;
    margin-bottom: 1.719vw;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbersCards__item-subheading {
    font-size: var(--subheading-size);
    line-height: var(--subheading-line-height);
    font-weight: 700;
    margin-bottom: 0.677vw;
}

.numbersCards__item-text {
    font-weight: 600;
    opacity: 0.7;
}

/*

    9. PICTURE ON THE RIGHT

*/

.pictureOnTheRight {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.771vw 6.563vw 6.771vw;
}

.pictureOnTheRight__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.pictureOnTheRight__content-heading {
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    font-weight: 700;
    margin-bottom: 1.146vw;
}

.pictureOnTheRight__content-middleheading {
    font-size: var(--middleheading-size);
    line-height: var(--middleheading-line-height);
    font-weight: 600;
    opacity: 0.7;
}

.pictureOnTheRight__image {
    width: 41.302vw;
    height: 27.552vw;
    border-radius: 0.521vw;
    object-fit: cover;
    filter: drop-shadow(0vw 5.208vw 4.167vw rgba(0, 0, 0, 0.07)) drop-shadow(0vw 2.176vw 1.741vw rgba(0, 0, 0, 0.0503198)) drop-shadow(0vw 1.163vw 0.931vw rgba(0, 0, 0, 0.0417275)) drop-shadow(0vw 0.652vw 0.522vw rgba(0, 0, 0, 0.035)) drop-shadow(0vw 0.346vw 0.277vw rgba(0, 0, 0, 0.0282725)) drop-shadow(0vw 0.144vw 0.115vw rgba(0, 0, 0, 0.0196802));
    -webkit-filter: drop-shadow(0vw 5.208vw 4.167vw rgba(0, 0, 0, 0.07)) drop-shadow(0vw 2.176vw 1.741vw rgba(0, 0, 0, 0.0503198)) drop-shadow(0vw 1.163vw 0.931vw rgba(0, 0, 0, 0.0417275)) drop-shadow(0vw 0.652vw 0.522vw rgba(0, 0, 0, 0.035)) drop-shadow(0vw 0.346vw 0.277vw rgba(0, 0, 0, 0.0282725)) drop-shadow(0vw 0.144vw 0.115vw rgba(0, 0, 0, 0.0196802));
}

/*

    10. CONTACTS

*/

.contacts {
    position: relative;
    width: 100%;
    height: 33.438vw;
    padding: 8.792vw 10.208vw 6.510vw 10.208vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--main-color);
}

#contacts-ring-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#contacts-ring-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.contacts__content {
    margin-top: 1.75vw;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contacts__content-heading {
    color: var(--light-color);
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    font-weight: 700;
    margin-bottom: 1.927vw;
}

#contacts-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts-info-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 4.219vw;
}

#contacts-info-group:last-child {
    margin-right: 0;
}

#contacts-info-group-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.563vw;
}

#contacts-info-group-item>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 1.5vw;
}

#contacts-info-group-item:last-child {
    margin-bottom: 0;
}

.contacts__content-subheading {
    font-size: 1.250vw;
    line-height: var(--subheading-line-height);
    font-weight: 600;
    color: var(--light-color);
    margin-left: 0.521vw;
}

.contacts__map {
    position: relative;
    z-index: 2;
    width: 43%;
    height: 100%;
    border-radius: 0.521vw;
    box-shadow: 0vw 3.802vw 5.677vw rgba(0, 0, 0, 0.17), 0vw 1.146vw 1.711vw rgba(0, 0, 0, 0.11077), 0vw 0.476vw 0.711vw rgba(0, 0, 0, 0.085), 0vw 0.172vw 0.257vw rgba(0, 0, 0, 0.0592299);
}

.contacts__map>img {
    height: 100%;
    border-radius: 0.521vw;
    object-fit: cover;
}

/*

    11. FILLING OUT THE FORM

*/

.fillingOutTheForm {
    position: relative;
    width: 100%;
    height: 33.438vw;
    padding: 9.792vw 13.802vw 6.510vw 6.771vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}

#fillingOutTheForm-ring-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#fillingOutTheForm-ring-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.fillingOutTheForm__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.fillingOutTheForm__content-heading {
    color: var(--light-color);
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    font-weight: 700;
    margin-bottom: 1.146vw;
}

.fillingOutTheForm__content-middleheading {
    color: var(--light-color);
    font-size: var(--middleheading-size);
    line-height: var(--middleheading-line-height);
    font-weight: 600;
    opacity: 0.7;
}

.fillingOutTheForm__form {
    position: relative;
    z-index: 2;
    width: 35.833vw;
    height: 17.135vw;
    padding: 1.198vw 2.240vw 1.719vw 1.302vw;
    background-color: var(--light-color);
    border-radius: 0.521vw;
    box-shadow: 0vw 3.802vw 5.677vw rgba(0, 0, 0, 0.17), 0vw 1.146vw 1.711vw rgba(0, 0, 0, 0.11077), 0vw 0.476vw 0.711vw rgba(0, 0, 0, 0.085), 0vw 0.172vw 0.257vw rgba(0, 0, 0, 0.0592299);
}

.fillingOutTheForm__form-text {
    font-weight: 600;
    margin-bottom: 0.885vw;
}

#fillingOutTheForm-form-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fillingOutTheForm-form-fields-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

#fillingOutTheForm-form-fields-field {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0.729vw;
}

#fillingOutTheForm-form-fields-field:nth-child(3) {
    margin-bottom: 0;
}

.fillingOutTheForm-form-fields-field-before-button {
    margin-bottom: 1.979vw !important;
}

#fillingOutTheForm-form-fields-field-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.fillingOutTheForm__form-label {
    font-size: 0.625vw;
    line-height: 0.781vw;
    margin: 0 0.104vw 0.417vw 0;
    font-weight: 600;
}

#fillingOutTheForm-form-fields-field #field-required {
    position: relative;
    top: 0.1vw;
}

.fillingOutTheForm__form-input {
    font-size: 0.833vw;
    line-height: 1.042vw;
    width: 15.625vw;
    height: 2.292vw;
    padding: 0.625vw;
    border-radius: 0.260vw;
    background: #FFFFFF;
    border: 0.052vw solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0.104vw 0.104vw rgba(0, 0, 0, 0.05);
}

.fillingOutTheForm__form-input:hover,
.fillingOutTheForm__form-input:focus {
    outline: none;
}

.fillingOutTheForm__form-select {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15.625vw;
    height: 2.292vw;
    border-radius: 0.260vw;
    background: #FFFFFF;
    border: 0.052vw solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0.104vw 0.104vw rgba(0, 0, 0, 0.05);
    transition: border-radius 0.2s ease-in-out;
}

.fillingOutTheForm__form-select>input {
    font-size: 0.833vw;
    line-height: 1.042vw;
    width: 85%;
    height: 100%;
    padding: 0.625vw 0 0.625vw 0.625vw;
    border-radius: 0.260vw 0 0 0.260vw;
    background: transparent;
    border: none;
}

.fillingOutTheForm__form-select>input:hover,
.fillingOutTheForm__form-select>input:focus {
    outline: none;
}

.fillingOutTheForm__form-select>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border-radius: 0 0.260vw 0.260vw 0;
    background: transparent;
}

#fillingOutTheForm-form-select-arrow {
    transform: rotate(45deg) translateY(-17.5%) translateX(-17.5%);
    border: solid var(--accent-color);
    border-width: 0 0.208vw 0.208vw 0;
    display: inline-block;
    padding: 0.2vw;
    border-radius: 0.104vw;
    transition: transform 0.2s ease-in-out, left 0.2s ease-in-out;
    pointer-events: none;
}

.fillingOutTheForm__form-select:hover #fillingOutTheForm-form-select-arrow {
    transform: rotate(-135deg) translateY(-17.5%) translateX(-17.5%);
}

#fillingOutTheForm-form-select-menu {
    top: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: -0.052vw;
    z-index: 1;
    width: calc(100% + 0.104vw);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
    text-align: center;
    background: #FFFFFF;
    border: 0.052vw solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-radius: 0 0 0.260vw 0.260vw;
    box-shadow: 0px 0.104vw 0.104vw rgba(0, 0, 0, 0.05);
}

#fillingOutTheForm-form-select-menu>p {
    cursor: pointer;
    position: relative;
    font-size: 0.833vw;
    line-height: 1.042vw;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.625vw;
    height: 2.292vw;
    border-bottom: 0.052vw solid rgba(0, 0, 0, 0.1);
    transition: color 0.2s ease-in-out;
}

#fillingOutTheForm-form-select-menu>p:last-child {
    border-radius: 0 0 0.260vw 0.260vw;
    border: none;
}

#fillingOutTheForm-form-select-menu>#select-item-active {
    color: var(--accent-color);
}

.fillingOutTheForm__form-select:hover {
    border-radius: 0.260vw 0.260vw 0 0;
}

.fillingOutTheForm__form-select:hover #fillingOutTheForm-form-select-menu {
    top: calc(100% + 0.052vw);
    opacity: 1;
    pointer-events: all;
}

.fillingOutTheForm__form-button {
    cursor: pointer;
    width: 7.813vw;
    height: 2.292vw;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--accent-color);
    border-radius: 0.260vw;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border: 0.052vw solid transparent;
}

.fillingOutTheForm__form-button:hover {
    color: var(--accent-color);
    background-color: var(--light-color);
    border-color: var(--accent-color);
}

/*

    12. FOOTER

*/

.footer {
    position: relative;
    width: 100%;
    height: 19.896vw;
    background-color: var(--main-color);
    margin-top: 0.573vw;
    padding: 2.396vw 15.625vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer::after {
    content: "";
    position: absolute;
    top: 62.5%;
    left: 0;
    width: 100%;
    height: 0.15vw;
    background: #FFFFFF;
    opacity: 0.2;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

.footer__contactInfo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer__contactInfo-logo {
    margin-bottom: 1.250vw;
}

.footer__contactInfo-tel {
    color: var(--light-color);
    margin-bottom: 1vw;
}

.footer__contactInfo-mail {
    color: var(--light-color);
}

.footer__quickLinks {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer__quickLinks-links {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__quickLinks-links #footer-quickLinks-links-group {
    width: 50%;
    height: 4.8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.footer__quickLinks-subheading {
    font-size: var(--subheading-size);
    line-height: var(--subheading-line-height);
    font-weight: 600;
    color: var(--light-color);
    margin-bottom: 1.698vw;
}

.footer__quickLinks-link {
    color: var(--light-color);
}

.footer__subscribe {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.footer__subscribe-subheading {
    font-size: var(--subheading-size);
    line-height: var(--subheading-line-height);
    color: var(--light-color);
    font-weight: 600;
    margin-bottom: 1.198vw;
}

#footer-subscribe-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.671vw;
    height: 3.159vw;
    border-radius: 0.313vw;
}

.footer__subscribe-input {
    border: none;
    width: 80%;
    height: 100%;
    border-radius: 0.313vw 0 0 0.313vw;
    background-color: #FFFFFF;
    padding: 0.938vw;
}

.footer__subscribe-input:hover,
.footer__subscribe-input:focus {
    outline: none;
}

.footer__subscribe-button {
    cursor: pointer;
    border: none;
    width: 20%;
    height: 100%;
    background-color: var(--accent-color);
    transition: background-color 0.2s ease-in-out;
    border-radius: 0 0.313vw 0.313vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__subscribe-button:hover {
    background-color: white;
}

#footer-subscribe-button-arrow {
    transition: fill 0.2s ease-in-out;
}

.footer__subscribe-button:hover #footer-subscribe-button-arrow {
    fill: var(--accent-color);
}

.footer__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socialLinks {
    width: 19.1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__socialLinks-item {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    margin-right: 1.5vw;
}

.footer__socialLinks-item:hover {
    background-color: #FFFFFF;
}

.footer__socialLinks-item svg path {
    transition: fill 0.2s ease-in-out;
}

.footer__socialLinks-item:hover svg path {
    fill: var(--main-color);
}

.footer__socialLinks-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    border: 0.15vw solid #FFFFFF;
    border-radius: 50%;
}

.footer__bottom #dcready {
    width: 10.573vw;
    height: 3.646vw;
}

.footer__copyright {
    width: 19.1vw;
    color: var(--light-color);
}
